main{
    display: flex;
}
#news{
    background-color: rgba(255, 255, 255, 0.30);
    flex: 1;
    margin: 0 15px;
    padding: 10px;
}

#news dt{
    float: left;
    line-height: 1.4em;
}
#news dd{
    margin-bottom: 30px;
    padding-left: 50px;
    letter-spacing: 0.4em;
    line-height: 1.4em;
    
}
#ca{
    
    flex: 2;
    margin-right: 5px;
}
#ca ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#ca ul li{
    flex:0 0 calc(50% - 30px);
    background-color: rgba(230, 231, 245, 0.31);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 10px 10px 10px;
}
#ca ul li h3{
    letter-spacing: 0.25em;
}
#ca ul li p{
    letter-spacing: 0.15em;
    line-height: 1.5em;
}
#ca ul li img{
    width: 100%;
}

@media(max-width:480px){
    main{
        display: block;
    }
    #news{
        margin-bottom: 10px;
            }
    #ca{
        margin-left: 10px;
    }
    #ca ul{
        display: block;
    }
}

@media(min-width:481px) and (max-width:800px){
    #ca{
        flex: 1 1 60%;
            }
    #news{
        flex:1 1 40%;
    }
    #news dt{
    float:none;
      border-bottom: 2px red dashed;
    }
    #news dd{
        padding-left: 0px;
        margin-left: 0px;
    }
    #ca ul{
        display: block;
}
    
    
    
    
    
    
    
    
    
    
    
